#footer {
    background: #93e693;
    color: rgb(255, 255, 255);
    padding: 10px 0px;    
    text-align: center;
}


.container {
    max-width: 800px;
    margin-top: 1%;
    
    
}
