.card {
    width: 1050px;
    background: transparent;
    border-radius: 16px;
    overflow: hidden;
    height: 600px;
    
  }
  
  .card-header h3 {
    padding: 14px 16px;
  }
  
  .card-header img {
    width: 100%;
    object-fit: cover;
  }
  
  .card-body {
    padding: 0 16px;
    color: #ffff;
  }
  
  .card-footer {
    padding: 14px 16px;
  }

